:root {
  --background: #16161a;
  --primary: #7f5af0;
  --secondary: #2cb67d;
  --white: #fffffe;
  --black: #010101;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--background);
  font-family: "Silkscreen", sans-serif;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  color: var(--secondary);
  margin: 0;
}

.hero-logo {
  width: 4rem;
  height: auto;
}

.error-msg {
  height: 1.5rem;
  color: var(--primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: end;
}

.input-field-container {
  display: flex;
  gap: 2rem;
}

.input-field {
  padding: 0.1rem;
  background-color: var(--white);
  border: 0.15rem solid var(--white);
  outline: 0.25rem solid var(--white);
  border-radius: 0.2rem;
}

.input-field:focus {
  border: 0.15rem solid var(--black);
  outline: 0.25rem solid var(--white);
}

.input-field:valid {
  border: 0.15rem solid var(--secondary);
  outline: 0.25rem solid var(--white);
}

.input-field:invalid:not(:focus) {
  border: 0.15rem solid var(--primary);
  outline: 0.25rem solid var(--white);
}

label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-logo {
  width: 2rem;
  height: auto;
}

.submit-btn {
  align-self: center;
}
